.appThemeSunrise {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	@apply bg-gradient-to-br from-[#F1F2B5] to-[#135058] h-80 w-56 border border-solid border-gray-400 rounded-xl p-3;
}

.appThemeDay {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	@apply bg-gradient-to-t from-[#076585] to-[#eae7e7] h-80 w-56 border border-solid border-gray-400 rounded-xl p-3;
}

.appThemeSunset {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	@apply bg-gradient-to-bl from-[#1D2B64] to-[#F8CDDA] h-80 w-56 border border-solid border-gray-400 rounded-xl p-3;
}

.appThemeNight {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	@apply bg-gradient-to-b from-[#16222A] to-[#3A6073] h-80 w-56 border border-solid border-gray-400 rounded-xl p-3;
}

.card {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	@apply bg-gray-300 h-80 w-60 border border-solid border-gray-400 rounded-xl p-3;
}

.cardTop {
	@apply mt-4 flex;
}

.cardTemp {
	@apply flex font-semibold text-2xl ml-4;
}

.cardBottom {
	@apply mt-8;
}

.windInfo {
	@apply flex first:gap-x-4;
}

.cardWind {
	@apply flex first:gap-x-4;
}

.cardPressure {
	@apply flex gap-x-4 mt-4;
}

.cardHumidity {
	@apply flex gap-x-4 mt-4;
}
